.obj_text{
	padding-left:10%;
	padding-right:10%;
}

.obj_text2{
	padding-left:13%;
	padding-right:13%;
}

.obj_text3{
	padding-left:2%;
	padding-right:2%;
}

.obj_text4{
	padding-left:20%;
	padding-right:10%;
}